.projects {
    width: 100vw;
    margin: 50px 0;
    position: relative;
    padding-bottom: 20px;

    margin-top: 50px;
    @media only screen and (min-width: 700px) {
        height: 100vh;
        padding-bottom: 20px;
    }

    &__container {
        margin: 10px;
        @media only screen and (min-width: 700px) {
            display: flex;
            height: 40%;
        }
    }

    &__card {
        margin: 30px;
        height: 200px;
        @media only screen and (min-width: 700px) {
            margin: 30px 10px;
        }

        @media only screen and (min-width: 700px) {

            height: 100%;
            width: 100%;
        }

    }
}