*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html, body {
  width: 100%;
  overflow-x: hidden; }

body {
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: grey !important;
}